@using Projeto_Ninject.Models
@model HomeModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ninject Test</h1>
    <p>Nome: @Model.Name</p>
    <p>Idade: @Model.Age</p>
    <p>Empresa: @Model.EnterpriseName</p>
</div>